{% extends 'statistique/base.html' %}

{% block content %}

    <div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 p-r-0 title-margin-right">
                        <div class="page-header">
                            <div class="page-title">
                                <h1>Hello, <span>Welcome Here</span></h1>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                    <div class="col-lg-4 p-l-0 title-margin-left">
                        <div class="page-header">
                            <div class="page-title">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                                    <li class="breadcrumb-item active">Table-Export</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                </div>
                <!-- /# row -->
                <section id="main-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="bootstrap-data-table-panel">
                                    <div class="table-responsive">
                                        <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                                            <div class="col-lg-4 p-l-0 title-margin-left">
                                                <div class="page-header">
                                                    <div class="page-title">
                                                        <ol class="breadcrumb">
                                                            <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                                                            <li class="breadcrumb-item active">TOUS LES PRODUITS</li>
                                                        </ol>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /# column -->
                                        </div>
                                        <!-- /# row -->
                                        <section id="main-content">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="card">
                                                        <div class="bootstrap-data-table-panel">
                                                            <div class="table-responsive">
                                                                <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Nom</th>
                                                                            <th>Vendeur</th>
                                                                            <th>Prix</th>
                                                                            <th>Date d'ajout</th>
                                                                            <th>Request</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tfoot>
                                                                        <tr>
                                                                            <th>Nom</th>
                                                                            <th>Vendeur</th>
                                                                            <th>Prix</th>
                                                                            <th>Date d'ajout</th>
                                                                            <th>Requeste</th>
                                                                        </tr>
                                                                    </tfoot>
                                                                    <tbody>
                                                                        {% for element in userproduit %}
                                                                        <tr>
                                                                            <td>{{element.name}}</td>
                                                                            <td>{{element.user.username }}</td>
                                                                            <td>${{ element.prix }}</td>
                                                                            <td>{{ element.date_added }}</td>
                                                                            <td><a class="btn btn-primary" href="">Requete</a></td>
                                                                        </tr>
                                                                        {% endfor %}
                                                
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- /# card -->
                                                </div>
                                                <!-- /# column -->
                                            </div>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- /# card -->
                        </div>
                        <!-- /# column -->
                    </div>
                    <!-- /# row -->

                    
                </section>
            </div>
        </div>
    </div>







    
   







{% endblock %}