{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %}réinitialisez votre mot de passe{% endblock %}
{% block content %}
<h1>Réinitialisez votre mot de passe</h1>
{% if validlink %}
<p>Veuillez entrer votre nouveau mot de passe deux fois :</p>
<form action="" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button type="submit" class="btn btn-primary" value="Change my password">Envoyez</button>
    {% endbuttons %}
</form>
{% else %}
<p>Le lien de réinitialisation du mot de passe n'était pas valide, peut-être parce qu'il a
    déjà été utilisé. Veuillez demander une nouvelle réinitialisation de mot de passe.</p>
{% endif %}
{% endblock %}