{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}réinitialisez votre mot de passe

{% endblock title %}
{% block content %}
<div class="container">
    <h2>Mot de passe oublié</h2>
    <p>Entrez votre adresse e-mail pour obtenir un nouveau mot de passe</p>
    <form action="" method="post" class="form ">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <button type="submit" class="btn btn-primary" value="send e-mail">Envoyez</button>
        {% endbuttons %}
    </form>
</div>
{% endblock content %}