{% extends "produits/base.html" %}

{% block content %}
{% include 'produits/bases.html' %}
<br>
<br>

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show mt-2" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
</div>
{% endfor %}
{% endif %}
  <main>
    <div class="container">

    <div class="table-responsive text-nowrap">
    <h2>Récapitulatif de la commande</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Titre de l'article</th>
            <th scope="col">Prix</th>
            <th scope="col">Quantité</th>
            <th scope="col">Prix ​​total de l'article</th>
        </tr>
        </thead>
        <tbody>
        {% for order_item in object.item.all %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ order_item.item.name }}</td>
            <td>{{ order_item.item.prix }}</td>
            <td>
                <a href="{% url 'produits:remove_single_item_from_cart' order_item.item.id %}"><i class="fas fa-minus mr-2"></i></a>
                {{ order_item.quantity }}
                <a href="{% url 'produits:add_single_to_card' order_item.item.id %}"><i class="fas fa-plus ml-2"></i></a>
            </td>
            <td>
               {{ order_item.get_total_item_price }} FCFA
            
            <a style='color: red;' href="{% url 'produits:remove_from_card' order_item.item.id %}">
                <i class="fas fa-trash float-right"></i>
            </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan='5'>Votre panier est vide</td>
        </tr>
        <tr>
            <td colspan="5">
            <a class='btn btn-primary float-right' href='/'>Continuer vos achats</a>
            </td>
        </tr>
        {% endfor %}
       
        <tr>
            <td colspan="4"><b>Frais De Livraison</b></td>
            <td><b>+{{ object.get_frais}} FCFA</b></td>
        </tr>
    
        {% if object.get_total %}
        <tr>
            <td colspan="4"><b>Total de la commande</b></td>
            <td><b>{{ object.get_total }} FCFA</b></td>
           
        </tr>
        <tr>
            <td colspan="5">
            <a class='btn btn-warning float-right ml-2' href='{% url 'produits:confirmation' %}'>Passer la commande</a>
            <a class='btn btn-primary float-right' href='/'>Continuer vos achats</a>
            </td>
        </tr>
        {% endif %}
        </tbody>
    </table>

    </div>

    </div>
  </main>

{% endblock content %}