{% extends 'produits/base.html' %}


{% block content %}
{% include 'produits/bases.html' %}
<div class="row">
    <div class="col-md-12">
        <ul class="list-group text-center" id="item-list">
            <h3 class="text-dark text-center bg-warning">Salut Mr/Mrs {{ name }}</h3>
            <h4 class="text-muted">Merci de nous faire confiance Mr/Mrs {{ name }}. Nous avons recu votre commande vous seriez livrez dans un delai de 1 jour.</h4>
           
        </ul>
    </div>
</div>

{% endblock  %}