{% extends 'produits/base.html' %}


{% block content %}


{% include 'produits/bases.html' %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show mt-2" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
</div>
{% endfor %}


    

{% endif %}

    <div class="row my-5 mx-5">
        <div class="col-md-6">
            <div>
                <img src="{{ product.image.url }}" width="500px" height="500px" alt="">
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-warning display-3">
                {{ product.name }}
            </div>
            <div class="text-danger ">
               Prix: {{ product.prix }} FCFA
            </div>
            <div>
                {{ product.description }}
            </div>
            {% if user.is_authenticated %}
            <a href="{{ product.get_add_to_card_url }}"><button class="btn btn-success">Ajouter au panier</button></a>
            <a href="{{ product.get_remove_from_card_url }}"><button class="btn btn-danger">Retirer du panier</button></a></br>
            <Strong class=" ml-2"> Mode de payement: <em class="text-info"> {{ product.mode_payement|capfirst }}</em> </strong>

            
            {% else %}
            <button type="button" class="btn" style="color: #2A35BC;" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                Ajouter panier
               </button></br>

               <Strong class=" ml-2"> Mode de payement: <em class="text-info"> {{ product.mode_payement|capfirst }}</em> </strong>

            {% endif %}
        </div>
    </div>
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="staticBackdropLabel"> Connecter vous ou creer un compte </h5>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         <p class="lead text-xs-center">Il ne faut que quelques secondes pour le faire</p>
         <div class="lead text-xs-center"><a class="btn btn-info" href="{% url 'authapp:registeruser' %}">Créer un compte</a> ou
             <a class="btn btn-success" href="{% url 'authapp:login' %}">Connexion</a></div>
       </div>
       <div class="modal-footer">
         
       </div>
     </div>
   </div>
 </div>
 
{% endblock %}